{
  "check-coverage": false,
  "per-file": false,
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "include": ["src/**/*.ts", "dist/**/*.js"],
  "all": true,
  "exclude": [
    "src/**/*.spec.ts",
    "src/**/example.*.ts",
    "src/**/default.*.ts",
    "src/router/*route*.ts",
    "config/**/*.ts",
    "dist/**/*.spec.js",
    "dist/**/example.*.js",
    "dist/**/default.*.js",
    "dist/**/*route*.js",
    "dist/config/**/*.js"
  ],
  "reporter": ["text", "lcov"],
  "cache": true,
  "temp-directory": "./coverage/nycrc",
  "exclude-after-remap": false
}
